@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button {
    background-color: #52bcb6;
    border: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

/*
.outer-box {
    width: 400px;
    height: 400px;
    background-color: green;
}

.outer-box .box {
    height: 200px;
    width: 200px;
    background-color: red;
    border: solid 10px black;
    margin: 50px;
    padding: 25px;
}

.outer-box .box .inner-box {
    height: 100px;
    width: 100px;
    background-color: blue;
}
*/

nav {
    background-color: transparent;
    box-shadow: 0px 5px 17px gray;
}

/*
nav * {
    color: #000000;    
}
    */

nav .navbar__container {
    width: 100%;
    max-width: 1104px;
    margin: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 30px;
}

nav .navbar__container .navbar__menu {
    font-weight: 600;
    color: #000000;
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

nav .navbar__container .navbar__menu .navbar__menu-item a {
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

nav .navbar__container .navbar__menu .navbar__menu-item a:hover {
    color: #52bcb6;
    text-decoration: underline;
}

nav .navbar__container .navbar__menu .navbar__menu-item a:focus {
    color: #52bcb6;
    text-decoration: underline;
}

nav .navbar__container .navbar__actions {
    display: flex;
    gap: 20px;
}

nav .navbar__container .navbar__actions img {
    max-height: 23px;
    height: auto;
    display: flex;
}

nav .navbar__container .navbar__logo img {
    max-height: 43px;
    height: auto;
}