:root {
    /* Viewport */
    --max-width: 1680px;
    /* Sizes */
    --general-padding: 4rem; /* 16px * 3rem = 48px */
    /* Colors */
    --primary-color: #d70705;
    --text-color: #232323;
    --bg-color: #ffffff;
    --btn-hover-color: #b51513;
    /* Font */
    --font-family: "Poppins", sans-serif;
    --h1-size: 4rem; /* 16px * 4rem = 64px */ 
    --h2-size: 2.25rem; /* 16px * 2.25rem = 36px */
    /* Navbar */
    --navbar-h: 94px;
    --logo-size: 1.25rem; /* 16px * 1.25rem = 20px */
    --nav-box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
    --card-max-width: 380px;
}